# Example on how to use the python class

## Get list of files and labels

List files, which are named with 'Traj' in folder 'data'

In [1]:
files = !ls -lh $HOME/publications/trade-off/Data/*Traj*

In [2]:
[a.split()[-1] for a in files]

['/home/b/b309159/publications/trade-off/Data/HTCM_Trajectory_BRU_SYD_2022-06-24_12_46_23.mat',
 '/home/b/b309159/publications/trade-off/Data/HTCM_Trajectory_LHR_JFK_2022-07-01_18_17_36.mat']

In [3]:
labels = [a.split('ory_')[-1].split('_2022')[0] for a in files]

In [4]:
labels

['BRU_SYD', 'LHR_JFK']

## Load class

In [5]:
from package import rf_of_trajectory as rf

## Calculate radiative forcing and emissions for each trajectory-file

In [6]:
net_rf = []
net_emis = []

for file in files:
    trajectory = rf.RadiativeForcingOfTrajectory(file.split()[-1])
    trajectory.drop_vertical_levels()
    
    net_rf.append(trajectory.total_rf())
    
    net_emis.append(trajectory.total_emis())

`rf_of_trajectory(file.split()[-1])` creates a class instance with the trajectory data file.
`load_trajectory_as_dataframe()` extracts the relevant data from the file within `__init__()`.
`drop_vertical_levels()` limits the vertical emission to emission above the tropopause, which is the default. Other vertical limits can be given in hectopascal with e.g. `drop_vertical_levels(100)` to limit emissions to above 100 hPa.
`total_rf()` returns the stratospheric adjusted radiative forcing of the trajectory.
`total_emis()` returns the accumulated emissions for the chosen vertical levels.

## Output

In [10]:
trajectory.data.head(1)

,Latitude,Longitude,Altitude [km],Altitude [Pa],H2O [kg],NO [kg],H2 [kg],tp_WMO,H2O RF from H2O [mW m-2],O3 RF from H2O [mW m-2],O3 RF from H2 [mW m-2],O3 RF from NO [mW m-2]
179,51.302952,-2.827075,10.950761,22876.03125,1217.678955,0.467333,14.270504,23006.607422,0.000001,-0.0,-0.0,0.0

total_emis() returns three values with H$_2$O, H$_2$ and NO emission above the tropopause in tons in this order

In [7]:
net_emis

[[1095.47, 3.46, 8.65], [556.47, 4.09, 1.87]]

total_rf() returns one value with radiative forcing from water vapour changes due to water vapour emisson and ozone radiative forcing from H$_2$O, H$_2$ and NO emission in mWm-2

In [8]:
net_rf

[0.002277626952656135, 0.0008800361503643599]